:host {
  #desserts {
    display: grid;
    gap: 2rem;
  }

  @media (min-width: 576px) {
    #desserts {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 1200px) {
    #desserts {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
